.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  text-decoration: none;
}

.inline {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  height: 300px;
}

.small-inline {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.small-img {
  height: 100px;
}

.description {
  width: auto;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}

.mobile-search {
  display: none;
}

@media screen and (max-width: 768px) {
  .search {
    display: none;
  }

  .mobile-search {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .inline {
    flex-direction: column;
  }
}
